<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
      
   <!-- In this beans if you see we only have the constructors not any setter-getters. Setters and getters are not needed since we are injecting the dependency through constructor. -->
   <bean id="employeeBean" class="com.autowire.by.constructor.demo.beans.EmployeeBean" autowire="constructor">     
     <constructor-arg index="0" type="int">
       <value>110</value>
     </constructor-arg>
     <constructor-arg index="1" type="java.lang.String">
       <value>Surendar Dillibabu</value>
     </constructor-arg>
     <constructor-arg index="2" type="com.autowire.by.constructor.demo.beans.DepartmentBean" ref="departmentBean" />
   </bean>
   
   <bean id="departmentBean" class="com.autowire.by.constructor.demo.beans.DepartmentBean" autowire="constructor">
     <constructor-arg index="0" type="int">
       <value>15</value>
     </constructor-arg>
     <constructor-arg index="1" type="java.lang.String">
       <value>Customer-care</value>
     </constructor-arg>
   </bean>
     
</beans>