<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
      
   <!-- In this beans if you see we only have the setter-getters not any constructors. constructors are not needed since we are injecting the dependency through setters/getters. -->
   <bean id="employeeBean" class="com.autowire.by.name.demo.beans.EmployeeBean" autowire="byName">
     <property name="employeeId" value="100"/>
     <property name="employeeName" value="Surendar.D"/>
   </bean>
   
   <bean id="departmentBean" class="com.autowire.by.name.demo.beans.DepartmentBean">
     <property name="deptId" value="10" />
     <property name="departmentName" value="Human Resource" />
   </bean>
     
</beans>